*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
  text-decoration: none;

}
a{
  color: black;
}
.floatL{
  float: left;
}
.floatR{
  float: right;
}
.cleaner{
  clear: both;
}
/*
********
*HEADER*
********
*/
header{
  width: 100%;
  background-color:rgb(255, 255, 255);
  position: fixed;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}
#logo h1{
  font-size: 35px;
}
.center-block{
  width: 80%;
  margin: 0px auto;
}
nav ul li{
  display: inline;
  margin-left: 15px;
}
nav ul{
  padding-top: 14px;
}
nav :hover{
  color: saddlebrown;
}
/*
******
*MAIN*
******
*/
span{
  color: saddlebrown;
}
nav{
  font-weight: bold;
}
#pozadina-index{
  background-image: url("../images/coffee-background-index.jpg");
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
}
#welcome-text{
  width: 30%;
  height: 300px;
  top: 20%;
  left: 35%;
  position: absolute;
  border: 3px solid white;
  animation: fade 1.5s;
}
#welcome-text h2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 306px;
  color: white;
  font-size: 40px;
}
@keyframes fade{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#o-nama h2{
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
#o-nama p{
  font-size: 25px;
  text-align: center;
}
#telefon-radno-vreme{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 70px 0;
}
.info{
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.info p, h4{
  margin-bottom: 10px;
}
.info i{
  font-size: 52px;
  padding: 70px;
}
.info h4{
  font-size: 20px;
}
.panorama {
  width: 400px;
  height: 430px;
  position: relative;
  display: block;
  margin: 0 ;
  background: url(../images/coffee-panorama.jpg) no-repeat;
  animation: slide 15s infinite;
}

@keyframes slide {
  25% {
    background: url(../images/coffee-panorama1.jpg) no-repeat;
  }
  50% {
    background: url(../images/coffee-panorama2.jpeg) no-repeat;
  }
  75% {
    background: url(../images/coffee-panorama3.jpg) no-repeat;
  }
  100% {
    background: url(../images/coffee-panorama.jpg) no-repeat;
  }
}
#pozadina-kontakt{
  background-image: url("../images/coffee-background-kontakt.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
section{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  margin-right: 20px;
  width: 282px;
  height: 430px;
  position: relative;
}
.slideLeft{
  animation-name: slideLeft;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
}
.slideRight{
  animation-name: slideRight;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
}
@keyframes slideLeft{
  from {right: 200%;}
  to {right: 0px;}
}
@keyframes slideRight{
  from {left: 200%;}
  to {left: 0px;}
}
section a{
  text-decoration: underline;
}
section p{
  padding: 7px 0;
}
section td{
  padding: 7px 0;
}
section iframe{
  padding-top: 40px;

}
section h2{
  padding: 0 30px 30px;
  text-align: center;
  font-size: 28px;
}
section input{
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  width: 100%;
}
section input:focus{
  outline: none;
}
section textarea{
  resize: none;
  outline: none;
  background-color: transparent;

}
section button{
  background-color: transparent;
  width: 100%;
  height: 30px;
}

.zvezdica{
  color: red;
}
#pozadina-o_autoru{
  width: 100%;
  height: 110vh;
  background-image: url("../images/coffee-background-o_autoru.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#opis_autora{
  width: 40%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}
#bela_pozadina{
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  position: relative;
  animation-name: slidein;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
}
@keyframes slidein{
  from {top: -200%;}
  to {top: 0px;}
}
#block p{
  margin: 15px 0;
}
#block{
  width: 100%;
  height: 210px;
}
figure{
  width: 170px;
  height: 100%;
  margin-right: 20px;
}
figcaption{
  padding-top: 5px;
  text-align: center;
}
#bela_pozadina figure img{
  width: 170px;
  height: 100%;
  border-radius: 50%;
}
#pozadina-cenovnik{
  padding-top: 100px;
  background-image: url(../images/coffee-background-cenovnik.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
}
#meni ul{
  height: 700px;
  width: 50%;
  left: -65%;
  position: relative;
}
#meni h2{
  font-size: 30px;
}
#meni ul li{
  padding: 7px 0 7px 0;
  font-size: 20px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: relative;
  animation-name: sladein1by1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
#meni ul li:nth-child(1) {animation-delay: 0.0s; }
#meni ul li:nth-child(2) {animation-delay: 0.2s; }
#meni ul li:nth-child(3) {animation-delay: 0.4s; }
#meni ul li:nth-child(4) {animation-delay: 0.6s; }
#meni ul li:nth-child(5) {animation-delay: 0.8s; }
#meni ul li:nth-child(6) {animation-delay: 1.0s; }
#meni ul li:nth-child(7) {animation-delay: 1.2s; }
#meni ul li:nth-child(8) {animation-delay: 1.4s; }
#meni ul li:nth-child(9) {animation-delay: 1.6s; }
#meni ul li:nth-child(10) {animation-delay: 1.8s; }
#meni ul li:nth-child(11) {animation-delay: 2.0s; }
#meni ul li:nth-child(12) {animation-delay: 2.2s; }
#meni ul li:nth-child(13) {animation-delay: 2.4s; }
#meni ul li:nth-child(14) {animation-delay: 2.6s; }

#meni ul li span{
  font-weight: bold;
}
@keyframes sladein1by1 {
  from {left: -10%;}
  to {left: 130%;}
}
#pozadina-galerija{
  background-image: url(../images/coffee-background-galerija.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 144%;
  height: 550px;
  background-attachment: fixed;
}
#cover-text{
  width: 100%;
  position: absolute;
  height: 550px;
  background: rgba(0, 0, 0, 0.6);
}
#cover-text h2{
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 50px;
  color: white;
}
#galerija{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}
.overflow{
  margin-bottom: 50px;
}
.overflow img:hover{
  transform: scale(1.1);
}
.overflow img{
  transition: all 1s ease
}
.overflow-x{
  overflow-x: hidden;
}
/*
********
*FOOTER*
********
*/
#social :hover{
  color: saddlebrown;
}
footer{
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
footer ul li{
  display: inline;
  font-size: 30px;
  margin: 5px;
  
}
footer p{
  margin-top: 10px;
}
